// Standard body code here, e.g. Body
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Mobile Screens START
	.container {
		// max-width: 600px;
	  margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	.siteName p {
		font-size: 36px;
		color: white;
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		padding: 20px;
	}

	.barsMenu {
		font-size: 34px;
		padding: 20px;
		color: white;
	}

	.containerBody {
		// max-width: 600px;
		height: 564px;
	  margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	.headerHanoi {
		font-size: 36px;
		color: white;
	}

	#headerParis {
  }

  .containerText {
	}

	#textBody {
		color: white;
	}

// .nav {
//   list-style: none;
//   float: right;
// 	display: none;
// }
//
// .nav li {
//   float: left;
//   padding: 10px;
// 	display: none;
// }
//
// .navContainer {
//   max-width: 1200px;
//   margin: 0 auto;
// 	display: none;
// }
//
// .mobileRow {
// 	display: flex;
// 	align-item
// }

// Tablet Screens START
@media screen and (min-width: 600px){
// 	.nav {
// 	  list-style: none;
// 	  float: right;
// 	}
//
// 	.nav li {
// 	  float: left;
// 	  padding: 10px;
// 	}
//
// 	.container {
// 	  max-width: 1200px;
// 	  margin: 0 auto;
// 	}
//
// 	.navContainer {
// 	  max-width: 1200px;
// 	  margin: 0 auto;
// 	}
//
// 	.mobileRow {
// 		display: none;
// 	}
}

// Desktop Screens START
@media screen and (min-width: 1000px){
}
